<html>
    <head>
        <title>Hello World</title>
    </head>
    <body>
        <h1>Hello <span id="name">World!</span></h1>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            fetch('/api/me?name={{name}}').then(function (response) {
                return response.json();
            }).then(function(data) {
                document.querySelector('#name').textContent = data.name;
            });
        });
    </script>
</html>